.wrap {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.2);
}

.h3 {
    text-align: center;
    min-width: calc(var(--spacing) * 50);
}

.hex {
    --R: 50px;
    position: relative;
    top: auto;
    left: auto;
    margin: calc(var(--spacing) * 4) auto;
}
