.resizing * {
    transition: none !important;
}

.wrapper {
    position: absolute;
    left: var(--mobile-layout-wrapper-left);
    right: var(--mobile-layout-wrapper-right);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (orientation: landscape) {
    .wrapper {
        perspective: 500px;
        transform-style: preserve-3d;
        bottom: var(--mobile-layout-bottom);
        transform: translateY(var(--mobile-layout-felt-height));
    }

    .wrapper.open {
        transform: none;
    }
}

@media screen and (orientation: portrait) {
    .wrapper {
        top: var(--mobile-layout-top);
        transition-property: transform, right;
    }

    .chip-tray-visible {
        transform: translateY(-1.5625rem);
        right: var(--mobile-layout-chiptray-right);
    }
}

@media (min-aspect-ratio: 93/200) {
    .wrapper.open {
        transform: translateY(var(--mobile-layout-top-open));
    }
}

/*
                @mixin chip-tray-visible($under: true) {
                    @if $under {
                        :global(.chip-tray-visible) & {
                            @content;
                        }
                    }

                    @else {
                        &:global(.chip-tray-visible) {
                            @content;
                        }
                    }
                }

*/

.infoBarOffsetHack {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: var(---in-game-message-height);
    left: 0;

    /* Special fix for iOS 12 (part 1 of 2) */
    overflow: hidden;

    /* ios rendering context fix for felt transformation */
    z-index: 1;
}
