.pointy,
.flat,
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    aspect-ratio: 5/8;
    margin: auto;
}

@media (min-aspect-ratio: 5/8) {
    .pointy,
    .flat,
    .logo {
        height: 100vh;
    }
}
