.pointy [data-qr="-6,0"] { transform: translate(calc(-11.392304845413264 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,1"] { transform: translate(calc(-10.526279441628825 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,2"] { transform: translate(calc(-9.660254037844387 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,3"] { transform: translate(calc(-8.794228634059948 * var(--R)), calc(22.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,4"] { transform: translate(calc(-7.92820323027551 * var(--R)), calc(24.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,5"] { transform: translate(calc(-7.062177826491071 * var(--R)), calc(25.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,6"] { transform: translate(calc(-6.196152422706632 * var(--R)), calc(27.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,7"] { transform: translate(calc(-5.330127018922194 * var(--R)), calc(28.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,8"] { transform: translate(calc(-4.464101615137755 * var(--R)), calc(30.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,9"] { transform: translate(calc(-3.598076211353317 * var(--R)), calc(31.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,10"] { transform: translate(calc(-2.7320508075688785 * var(--R)), calc(33.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-6,11"] { transform: translate(calc(-1.8660254037844393 * var(--R)), calc(34.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,-1"] { transform: translate(calc(-10.526279441628825 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,0"] { transform: translate(calc(-9.660254037844386 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,1"] { transform: translate(calc(-8.794228634059948 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,2"] { transform: translate(calc(-7.928203230275509 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,3"] { transform: translate(calc(-7.0621778264910695 * var(--R)), calc(22.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,4"] { transform: translate(calc(-6.196152422706631 * var(--R)), calc(24.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,5"] { transform: translate(calc(-5.330127018922193 * var(--R)), calc(25.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,6"] { transform: translate(calc(-4.4641016151377535 * var(--R)), calc(27.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,7"] { transform: translate(calc(-3.598076211353315 * var(--R)), calc(28.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,8"] { transform: translate(calc(-2.7320508075688767 * var(--R)), calc(30.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,9"] { transform: translate(calc(-1.8660254037844384 * var(--R)), calc(31.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,10"] { transform: translate(calc(-1 * var(--R)), calc(33.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-5,11"] { transform: translate(calc(-0.13397459621556074 * var(--R)), calc(34.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,-2"] { transform: translate(calc(-9.660254037844386 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,-1"] { transform: translate(calc(-8.794228634059948 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,0"] { transform: translate(calc(-7.928203230275509 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,1"] { transform: translate(calc(-7.06217782649107 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,2"] { transform: translate(calc(-6.196152422706632 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,3"] { transform: translate(calc(-5.330127018922193 * var(--R)), calc(22.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,4"] { transform: translate(calc(-4.464101615137754 * var(--R)), calc(24.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,5"] { transform: translate(calc(-3.598076211353316 * var(--R)), calc(25.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,6"] { transform: translate(calc(-2.7320508075688767 * var(--R)), calc(27.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,7"] { transform: translate(calc(-1.8660254037844384 * var(--R)), calc(28.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,8"] { transform: translate(calc(-1 * var(--R)), calc(30.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,9"] { transform: translate(calc(-0.13397459621556163 * var(--R)), calc(31.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-4,10"] { transform: translate(calc(0.7320508075688767 * var(--R)), calc(33.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,-3"] { transform: translate(calc(-8.794228634059948 * var(--R)), calc(13.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,-2"] { transform: translate(calc(-7.928203230275509 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,-1"] { transform: translate(calc(-7.06217782649107 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,0"] { transform: translate(calc(-6.196152422706632 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,1"] { transform: translate(calc(-5.330127018922194 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,2"] { transform: translate(calc(-4.464101615137755 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,3"] { transform: translate(calc(-3.598076211353316 * var(--R)), calc(22.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,4"] { transform: translate(calc(-2.7320508075688776 * var(--R)), calc(24.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,5"] { transform: translate(calc(-1.8660254037844393 * var(--R)), calc(25.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,6"] { transform: translate(calc(-1 * var(--R)), calc(27.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,7"] { transform: translate(calc(-0.13397459621556163 * var(--R)), calc(28.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,8"] { transform: translate(calc(0.7320508075688767 * var(--R)), calc(30.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-3,9"] { transform: translate(calc(1.5980762113533151 * var(--R)), calc(31.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,-4"] { transform: translate(calc(-7.928203230275509 * var(--R)), calc(12.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,-3"] { transform: translate(calc(-7.06217782649107 * var(--R)), calc(13.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,-2"] { transform: translate(calc(-6.196152422706632 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,-1"] { transform: translate(calc(-5.330127018922193 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,0"] { transform: translate(calc(-4.464101615137754 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,1"] { transform: translate(calc(-3.598076211353316 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,2"] { transform: translate(calc(-2.732050807568877 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,3"] { transform: translate(calc(-1.8660254037844384 * var(--R)), calc(22.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,4"] { transform: translate(calc(-1 * var(--R)), calc(24.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,5"] { transform: translate(calc(-0.13397459621556163 * var(--R)), calc(25.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,6"] { transform: translate(calc(0.7320508075688776 * var(--R)), calc(27.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,7"] { transform: translate(calc(1.598076211353316 * var(--R)), calc(28.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-2,8"] { transform: translate(calc(2.4641016151377544 * var(--R)), calc(30.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,-5"] { transform: translate(calc(-7.0621778264910695 * var(--R)), calc(10.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,-4"] { transform: translate(calc(-6.196152422706632 * var(--R)), calc(12.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,-3"] { transform: translate(calc(-5.330127018922193 * var(--R)), calc(13.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,-2"] { transform: translate(calc(-4.464101615137754 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,-1"] { transform: translate(calc(-3.598076211353316 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,0"] { transform: translate(calc(-2.732050807568877 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,1"] { transform: translate(calc(-1.8660254037844386 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,2"] { transform: translate(calc(-1 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,3"] { transform: translate(calc(-0.13397459621556118 * var(--R)), calc(22.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,4"] { transform: translate(calc(0.7320508075688772 * var(--R)), calc(24.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,5"] { transform: translate(calc(1.5980762113533156 * var(--R)), calc(25.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,6"] { transform: translate(calc(2.464101615137755 * var(--R)), calc(27.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="-1,7"] { transform: translate(calc(3.3301270189221928 * var(--R)), calc(28.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,-6"] { transform: translate(calc(-6.196152422706632 * var(--R)), calc(9.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,-5"] { transform: translate(calc(-5.330127018922193 * var(--R)), calc(10.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,-4"] { transform: translate(calc(-4.464101615137754 * var(--R)), calc(12.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,-3"] { transform: translate(calc(-3.598076211353316 * var(--R)), calc(13.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,-2"] { transform: translate(calc(-2.732050807568877 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,-1"] { transform: translate(calc(-1.8660254037844386 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,0"] { transform: translate(calc(-1 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,1"] { transform: translate(calc(-0.1339745962155614 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,2"] { transform: translate(calc(0.7320508075688772 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,3"] { transform: translate(calc(1.598076211353316 * var(--R)), calc(22.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,4"] { transform: translate(calc(2.4641016151377544 * var(--R)), calc(24.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,5"] { transform: translate(calc(3.3301270189221928 * var(--R)), calc(25.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="0,6"] { transform: translate(calc(4.196152422706632 * var(--R)), calc(27.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,-7"] { transform: translate(calc(-5.330127018922193 * var(--R)), calc(7.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,-6"] { transform: translate(calc(-4.464101615137755 * var(--R)), calc(9.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,-5"] { transform: translate(calc(-3.5980762113533156 * var(--R)), calc(10.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,-4"] { transform: translate(calc(-2.732050807568877 * var(--R)), calc(12.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,-3"] { transform: translate(calc(-1.8660254037844388 * var(--R)), calc(13.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,-2"] { transform: translate(calc(-1 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,-1"] { transform: translate(calc(-0.1339745962155614 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,0"] { transform: translate(calc(0.7320508075688772 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,1"] { transform: translate(calc(1.598076211353316 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,2"] { transform: translate(calc(2.4641016151377544 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,3"] { transform: translate(calc(3.3301270189221928 * var(--R)), calc(22.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,4"] { transform: translate(calc(4.196152422706632 * var(--R)), calc(24.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="1,5"] { transform: translate(calc(5.0621778264910695 * var(--R)), calc(25.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,-8"] { transform: translate(calc(-4.464101615137754 * var(--R)), calc(6.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,-7"] { transform: translate(calc(-3.598076211353316 * var(--R)), calc(7.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,-6"] { transform: translate(calc(-2.7320508075688776 * var(--R)), calc(9.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,-5"] { transform: translate(calc(-1.8660254037844384 * var(--R)), calc(10.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,-4"] { transform: translate(calc(-1 * var(--R)), calc(12.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,-3"] { transform: translate(calc(-0.13397459621556163 * var(--R)), calc(13.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,-2"] { transform: translate(calc(0.7320508075688772 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,-1"] { transform: translate(calc(1.598076211353316 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,0"] { transform: translate(calc(2.4641016151377544 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,1"] { transform: translate(calc(3.3301270189221928 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,2"] { transform: translate(calc(4.196152422706632 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,3"] { transform: translate(calc(5.06217782649107 * var(--R)), calc(22.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="2,4"] { transform: translate(calc(5.928203230275509 * var(--R)), calc(24.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,-9"] { transform: translate(calc(-3.598076211353315 * var(--R)), calc(4.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,-8"] { transform: translate(calc(-2.7320508075688767 * var(--R)), calc(6.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,-7"] { transform: translate(calc(-1.8660254037844384 * var(--R)), calc(7.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,-6"] { transform: translate(calc(-1 * var(--R)), calc(9.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,-5"] { transform: translate(calc(-0.13397459621556074 * var(--R)), calc(10.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,-4"] { transform: translate(calc(0.7320508075688776 * var(--R)), calc(12.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,-3"] { transform: translate(calc(1.598076211353316 * var(--R)), calc(13.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,-2"] { transform: translate(calc(2.464101615137755 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,-1"] { transform: translate(calc(3.3301270189221936 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,0"] { transform: translate(calc(4.196152422706632 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,1"] { transform: translate(calc(5.06217782649107 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,2"] { transform: translate(calc(5.928203230275509 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="3,3"] { transform: translate(calc(6.794228634059948 * var(--R)), calc(22.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,-10"] { transform: translate(calc(-2.7320508075688767 * var(--R)), calc(3.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,-9"] { transform: translate(calc(-1.8660254037844384 * var(--R)), calc(4.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,-8"] { transform: translate(calc(-1 * var(--R)), calc(6.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,-7"] { transform: translate(calc(-0.13397459621556163 * var(--R)), calc(7.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,-6"] { transform: translate(calc(0.7320508075688767 * var(--R)), calc(9.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,-5"] { transform: translate(calc(1.598076211353316 * var(--R)), calc(10.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,-4"] { transform: translate(calc(2.4641016151377544 * var(--R)), calc(12.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,-3"] { transform: translate(calc(3.3301270189221928 * var(--R)), calc(13.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,-2"] { transform: translate(calc(4.196152422706632 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,-1"] { transform: translate(calc(5.06217782649107 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,0"] { transform: translate(calc(5.928203230275509 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,1"] { transform: translate(calc(6.794228634059947 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="4,2"] { transform: translate(calc(7.6602540378443855 * var(--R)), calc(21.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-11"] { transform: translate(calc(-1.8660254037844393 * var(--R)), calc(1.6339746000000002 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-10"] { transform: translate(calc(-1 * var(--R)), calc(3.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-9"] { transform: translate(calc(-0.13397459621556163 * var(--R)), calc(4.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-8"] { transform: translate(calc(0.7320508075688767 * var(--R)), calc(6.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-7"] { transform: translate(calc(1.5980762113533151 * var(--R)), calc(7.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-6"] { transform: translate(calc(2.4641016151377535 * var(--R)), calc(9.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-5"] { transform: translate(calc(3.3301270189221928 * var(--R)), calc(10.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-4"] { transform: translate(calc(4.196152422706631 * var(--R)), calc(12.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-3"] { transform: translate(calc(5.0621778264910695 * var(--R)), calc(13.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-2"] { transform: translate(calc(5.928203230275509 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,-1"] { transform: translate(calc(6.794228634059947 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,0"] { transform: translate(calc(7.6602540378443855 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="5,1"] { transform: translate(calc(8.526279441628825 * var(--R)), calc(19.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-11"] { transform: translate(calc(-0.13397459621556074 * var(--R)), calc(1.6339746000000002 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-10"] { transform: translate(calc(0.7320508075688785 * var(--R)), calc(3.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-9"] { transform: translate(calc(1.598076211353317 * var(--R)), calc(4.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-8"] { transform: translate(calc(2.4641016151377553 * var(--R)), calc(6.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-7"] { transform: translate(calc(3.3301270189221936 * var(--R)), calc(7.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-6"] { transform: translate(calc(4.196152422706632 * var(--R)), calc(9.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-5"] { transform: translate(calc(5.062177826491071 * var(--R)), calc(10.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-4"] { transform: translate(calc(5.92820323027551 * var(--R)), calc(12.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-3"] { transform: translate(calc(6.794228634059948 * var(--R)), calc(13.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-2"] { transform: translate(calc(7.660254037844387 * var(--R)), calc(15.1339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,-1"] { transform: translate(calc(8.526279441628825 * var(--R)), calc(16.6339746 * var(--R))) rotate(-30deg); }
.pointy [data-qr="6,0"] { transform: translate(calc(9.392304845413264 * var(--R)), calc(18.1339746 * var(--R))) rotate(-30deg); }
.flat [data-qr="-6,0"] { transform: translate(calc(-10 * var(--R)), calc(10.392304777293367 * var(--R))); }
.flat [data-qr="-6,1"] { transform: translate(calc(-10 * var(--R)), calc(12.124355584862244 * var(--R))); }
.flat [data-qr="-6,2"] { transform: translate(calc(-10 * var(--R)), calc(13.85640639243112 * var(--R))); }
.flat [data-qr="-6,3"] { transform: translate(calc(-10 * var(--R)), calc(15.588457199999999 * var(--R))); }
.flat [data-qr="-6,4"] { transform: translate(calc(-10 * var(--R)), calc(17.320508007568872 * var(--R))); }
.flat [data-qr="-6,5"] { transform: translate(calc(-10 * var(--R)), calc(19.05255881513775 * var(--R))); }
.flat [data-qr="-6,6"] { transform: translate(calc(-10 * var(--R)), calc(20.78460962270663 * var(--R))); }
.flat [data-qr="-6,7"] { transform: translate(calc(-10 * var(--R)), calc(22.516660430275504 * var(--R))); }
.flat [data-qr="-6,8"] { transform: translate(calc(-10 * var(--R)), calc(24.248711237844383 * var(--R))); }
.flat [data-qr="-6,9"] { transform: translate(calc(-10 * var(--R)), calc(25.98076204541326 * var(--R))); }
.flat [data-qr="-6,10"] { transform: translate(calc(-10 * var(--R)), calc(27.712812852982136 * var(--R))); }
.flat [data-qr="-6,11"] { transform: translate(calc(-10 * var(--R)), calc(29.444863660551015 * var(--R))); }
.flat [data-qr="-5,-1"] { transform: translate(calc(-8.5 * var(--R)), calc(9.52627937350893 * var(--R))); }
.flat [data-qr="-5,0"] { transform: translate(calc(-8.5 * var(--R)), calc(11.258330181077806 * var(--R))); }
.flat [data-qr="-5,1"] { transform: translate(calc(-8.5 * var(--R)), calc(12.990380988646683 * var(--R))); }
.flat [data-qr="-5,2"] { transform: translate(calc(-8.5 * var(--R)), calc(14.722431796215561 * var(--R))); }
.flat [data-qr="-5,3"] { transform: translate(calc(-8.5 * var(--R)), calc(16.454482603784438 * var(--R))); }
.flat [data-qr="-5,4"] { transform: translate(calc(-8.5 * var(--R)), calc(18.186533411353313 * var(--R))); }
.flat [data-qr="-5,5"] { transform: translate(calc(-8.5 * var(--R)), calc(19.918584218922188 * var(--R))); }
.flat [data-qr="-5,6"] { transform: translate(calc(-8.5 * var(--R)), calc(21.65063502649107 * var(--R))); }
.flat [data-qr="-5,7"] { transform: translate(calc(-8.5 * var(--R)), calc(23.382685834059945 * var(--R))); }
.flat [data-qr="-5,8"] { transform: translate(calc(-8.5 * var(--R)), calc(25.11473664162882 * var(--R))); }
.flat [data-qr="-5,9"] { transform: translate(calc(-8.5 * var(--R)), calc(26.8467874491977 * var(--R))); }
.flat [data-qr="-5,10"] { transform: translate(calc(-8.5 * var(--R)), calc(28.578838256766577 * var(--R))); }
.flat [data-qr="-5,11"] { transform: translate(calc(-8.5 * var(--R)), calc(30.310889064335452 * var(--R))); }
.flat [data-qr="-4,-2"] { transform: translate(calc(-7 * var(--R)), calc(8.66025396972449 * var(--R))); }
.flat [data-qr="-4,-1"] { transform: translate(calc(-7 * var(--R)), calc(10.392304777293367 * var(--R))); }
.flat [data-qr="-4,0"] { transform: translate(calc(-7 * var(--R)), calc(12.124355584862245 * var(--R))); }
.flat [data-qr="-4,1"] { transform: translate(calc(-7 * var(--R)), calc(13.856406392431122 * var(--R))); }
.flat [data-qr="-4,2"] { transform: translate(calc(-7 * var(--R)), calc(15.588457199999999 * var(--R))); }
.flat [data-qr="-4,3"] { transform: translate(calc(-7 * var(--R)), calc(17.320508007568876 * var(--R))); }
.flat [data-qr="-4,4"] { transform: translate(calc(-7 * var(--R)), calc(19.05255881513775 * var(--R))); }
.flat [data-qr="-4,5"] { transform: translate(calc(-7 * var(--R)), calc(20.78460962270663 * var(--R))); }
.flat [data-qr="-4,6"] { transform: translate(calc(-7 * var(--R)), calc(22.516660430275508 * var(--R))); }
.flat [data-qr="-4,7"] { transform: translate(calc(-7 * var(--R)), calc(24.248711237844383 * var(--R))); }
.flat [data-qr="-4,8"] { transform: translate(calc(-7 * var(--R)), calc(25.98076204541326 * var(--R))); }
.flat [data-qr="-4,9"] { transform: translate(calc(-7 * var(--R)), calc(27.712812852982136 * var(--R))); }
.flat [data-qr="-4,10"] { transform: translate(calc(-7 * var(--R)), calc(29.444863660551015 * var(--R))); }
.flat [data-qr="-3,-3"] { transform: translate(calc(-5.5 * var(--R)), calc(7.794228565940051 * var(--R))); }
.flat [data-qr="-3,-2"] { transform: translate(calc(-5.5 * var(--R)), calc(9.52627937350893 * var(--R))); }
.flat [data-qr="-3,-1"] { transform: translate(calc(-5.5 * var(--R)), calc(11.258330181077806 * var(--R))); }
.flat [data-qr="-3,0"] { transform: translate(calc(-5.5 * var(--R)), calc(12.990380988646683 * var(--R))); }
.flat [data-qr="-3,1"] { transform: translate(calc(-5.5 * var(--R)), calc(14.72243179621556 * var(--R))); }
.flat [data-qr="-3,2"] { transform: translate(calc(-5.5 * var(--R)), calc(16.454482603784435 * var(--R))); }
.flat [data-qr="-3,3"] { transform: translate(calc(-5.5 * var(--R)), calc(18.186533411353313 * var(--R))); }
.flat [data-qr="-3,4"] { transform: translate(calc(-5.5 * var(--R)), calc(19.918584218922188 * var(--R))); }
.flat [data-qr="-3,5"] { transform: translate(calc(-5.5 * var(--R)), calc(21.650635026491067 * var(--R))); }
.flat [data-qr="-3,6"] { transform: translate(calc(-5.5 * var(--R)), calc(23.382685834059945 * var(--R))); }
.flat [data-qr="-3,7"] { transform: translate(calc(-5.5 * var(--R)), calc(25.11473664162882 * var(--R))); }
.flat [data-qr="-3,8"] { transform: translate(calc(-5.5 * var(--R)), calc(26.8467874491977 * var(--R))); }
.flat [data-qr="-3,9"] { transform: translate(calc(-5.5 * var(--R)), calc(28.578838256766577 * var(--R))); }
.flat [data-qr="-2,-4"] { transform: translate(calc(-4 * var(--R)), calc(6.928203162155613 * var(--R))); }
.flat [data-qr="-2,-3"] { transform: translate(calc(-4 * var(--R)), calc(8.66025396972449 * var(--R))); }
.flat [data-qr="-2,-2"] { transform: translate(calc(-4 * var(--R)), calc(10.392304777293367 * var(--R))); }
.flat [data-qr="-2,-1"] { transform: translate(calc(-4 * var(--R)), calc(12.124355584862245 * var(--R))); }
.flat [data-qr="-2,0"] { transform: translate(calc(-4 * var(--R)), calc(13.856406392431122 * var(--R))); }
.flat [data-qr="-2,1"] { transform: translate(calc(-4 * var(--R)), calc(15.588457199999999 * var(--R))); }
.flat [data-qr="-2,2"] { transform: translate(calc(-4 * var(--R)), calc(17.320508007568876 * var(--R))); }
.flat [data-qr="-2,3"] { transform: translate(calc(-4 * var(--R)), calc(19.05255881513775 * var(--R))); }
.flat [data-qr="-2,4"] { transform: translate(calc(-4 * var(--R)), calc(20.78460962270663 * var(--R))); }
.flat [data-qr="-2,5"] { transform: translate(calc(-4 * var(--R)), calc(22.516660430275504 * var(--R))); }
.flat [data-qr="-2,6"] { transform: translate(calc(-4 * var(--R)), calc(24.248711237844386 * var(--R))); }
.flat [data-qr="-2,7"] { transform: translate(calc(-4 * var(--R)), calc(25.98076204541326 * var(--R))); }
.flat [data-qr="-2,8"] { transform: translate(calc(-4 * var(--R)), calc(27.712812852982136 * var(--R))); }
.flat [data-qr="-1,-5"] { transform: translate(calc(-2.5 * var(--R)), calc(6.062177758371174 * var(--R))); }
.flat [data-qr="-1,-4"] { transform: translate(calc(-2.5 * var(--R)), calc(7.794228565940051 * var(--R))); }
.flat [data-qr="-1,-3"] { transform: translate(calc(-2.5 * var(--R)), calc(9.52627937350893 * var(--R))); }
.flat [data-qr="-1,-2"] { transform: translate(calc(-2.5 * var(--R)), calc(11.258330181077806 * var(--R))); }
.flat [data-qr="-1,-1"] { transform: translate(calc(-2.5 * var(--R)), calc(12.990380988646683 * var(--R))); }
.flat [data-qr="-1,0"] { transform: translate(calc(-2.5 * var(--R)), calc(14.72243179621556 * var(--R))); }
.flat [data-qr="-1,1"] { transform: translate(calc(-2.5 * var(--R)), calc(16.454482603784435 * var(--R))); }
.flat [data-qr="-1,2"] { transform: translate(calc(-2.5 * var(--R)), calc(18.186533411353313 * var(--R))); }
.flat [data-qr="-1,3"] { transform: translate(calc(-2.5 * var(--R)), calc(19.91858421892219 * var(--R))); }
.flat [data-qr="-1,4"] { transform: translate(calc(-2.5 * var(--R)), calc(21.650635026491067 * var(--R))); }
.flat [data-qr="-1,5"] { transform: translate(calc(-2.5 * var(--R)), calc(23.382685834059945 * var(--R))); }
.flat [data-qr="-1,6"] { transform: translate(calc(-2.5 * var(--R)), calc(25.11473664162882 * var(--R))); }
.flat [data-qr="-1,7"] { transform: translate(calc(-2.5 * var(--R)), calc(26.8467874491977 * var(--R))); }
.flat [data-qr="0,-6"] { transform: translate(calc(-1 * var(--R)), calc(5.196152354586735 * var(--R))); }
.flat [data-qr="0,-5"] { transform: translate(calc(-1 * var(--R)), calc(6.928203162155613 * var(--R))); }
.flat [data-qr="0,-4"] { transform: translate(calc(-1 * var(--R)), calc(8.66025396972449 * var(--R))); }
.flat [data-qr="0,-3"] { transform: translate(calc(-1 * var(--R)), calc(10.392304777293367 * var(--R))); }
.flat [data-qr="0,-2"] { transform: translate(calc(-1 * var(--R)), calc(12.124355584862245 * var(--R))); }
.flat [data-qr="0,-1"] { transform: translate(calc(-1 * var(--R)), calc(13.856406392431122 * var(--R))); }
.flat [data-qr="0,0"] { transform: translate(calc(-1 * var(--R)), calc(15.588457199999999 * var(--R))); }
.flat [data-qr="0,1"] { transform: translate(calc(-1 * var(--R)), calc(17.320508007568876 * var(--R))); }
.flat [data-qr="0,2"] { transform: translate(calc(-1 * var(--R)), calc(19.05255881513775 * var(--R))); }
.flat [data-qr="0,3"] { transform: translate(calc(-1 * var(--R)), calc(20.78460962270663 * var(--R))); }
.flat [data-qr="0,4"] { transform: translate(calc(-1 * var(--R)), calc(22.516660430275504 * var(--R))); }
.flat [data-qr="0,5"] { transform: translate(calc(-1 * var(--R)), calc(24.248711237844383 * var(--R))); }
.flat [data-qr="0,6"] { transform: translate(calc(-1 * var(--R)), calc(25.98076204541326 * var(--R))); }
.flat [data-qr="1,-7"] { transform: translate(calc(0.5 * var(--R)), calc(4.330126950802297 * var(--R))); }
.flat [data-qr="1,-6"] { transform: translate(calc(0.5 * var(--R)), calc(6.062177758371174 * var(--R))); }
.flat [data-qr="1,-5"] { transform: translate(calc(0.5 * var(--R)), calc(7.794228565940051 * var(--R))); }
.flat [data-qr="1,-4"] { transform: translate(calc(0.5 * var(--R)), calc(9.52627937350893 * var(--R))); }
.flat [data-qr="1,-3"] { transform: translate(calc(0.5 * var(--R)), calc(11.258330181077804 * var(--R))); }
.flat [data-qr="1,-2"] { transform: translate(calc(0.5 * var(--R)), calc(12.990380988646683 * var(--R))); }
.flat [data-qr="1,-1"] { transform: translate(calc(0.5 * var(--R)), calc(14.72243179621556 * var(--R))); }
.flat [data-qr="1,0"] { transform: translate(calc(0.5 * var(--R)), calc(16.454482603784435 * var(--R))); }
.flat [data-qr="1,1"] { transform: translate(calc(0.5 * var(--R)), calc(18.186533411353313 * var(--R))); }
.flat [data-qr="1,2"] { transform: translate(calc(0.5 * var(--R)), calc(19.918584218922188 * var(--R))); }
.flat [data-qr="1,3"] { transform: translate(calc(0.5 * var(--R)), calc(21.650635026491067 * var(--R))); }
.flat [data-qr="1,4"] { transform: translate(calc(0.5 * var(--R)), calc(23.382685834059945 * var(--R))); }
.flat [data-qr="1,5"] { transform: translate(calc(0.5 * var(--R)), calc(25.11473664162882 * var(--R))); }
.flat [data-qr="2,-8"] { transform: translate(calc(2 * var(--R)), calc(3.464101547017858 * var(--R))); }
.flat [data-qr="2,-7"] { transform: translate(calc(2 * var(--R)), calc(5.196152354586735 * var(--R))); }
.flat [data-qr="2,-6"] { transform: translate(calc(2 * var(--R)), calc(6.9282031621556115 * var(--R))); }
.flat [data-qr="2,-5"] { transform: translate(calc(2 * var(--R)), calc(8.66025396972449 * var(--R))); }
.flat [data-qr="2,-4"] { transform: translate(calc(2 * var(--R)), calc(10.392304777293367 * var(--R))); }
.flat [data-qr="2,-3"] { transform: translate(calc(2 * var(--R)), calc(12.124355584862244 * var(--R))); }
.flat [data-qr="2,-2"] { transform: translate(calc(2 * var(--R)), calc(13.856406392431122 * var(--R))); }
.flat [data-qr="2,-1"] { transform: translate(calc(2 * var(--R)), calc(15.588457199999999 * var(--R))); }
.flat [data-qr="2,0"] { transform: translate(calc(2 * var(--R)), calc(17.320508007568876 * var(--R))); }
.flat [data-qr="2,1"] { transform: translate(calc(2 * var(--R)), calc(19.05255881513775 * var(--R))); }
.flat [data-qr="2,2"] { transform: translate(calc(2 * var(--R)), calc(20.78460962270663 * var(--R))); }
.flat [data-qr="2,3"] { transform: translate(calc(2 * var(--R)), calc(22.516660430275504 * var(--R))); }
.flat [data-qr="2,4"] { transform: translate(calc(2 * var(--R)), calc(24.248711237844383 * var(--R))); }
.flat [data-qr="3,-9"] { transform: translate(calc(3.5 * var(--R)), calc(2.5980761432334205 * var(--R))); }
.flat [data-qr="3,-8"] { transform: translate(calc(3.5 * var(--R)), calc(4.330126950802297 * var(--R))); }
.flat [data-qr="3,-7"] { transform: translate(calc(3.5 * var(--R)), calc(6.062177758371174 * var(--R))); }
.flat [data-qr="3,-6"] { transform: translate(calc(3.5 * var(--R)), calc(7.794228565940051 * var(--R))); }
.flat [data-qr="3,-5"] { transform: translate(calc(3.5 * var(--R)), calc(9.52627937350893 * var(--R))); }
.flat [data-qr="3,-4"] { transform: translate(calc(3.5 * var(--R)), calc(11.258330181077806 * var(--R))); }
.flat [data-qr="3,-3"] { transform: translate(calc(3.5 * var(--R)), calc(12.990380988646683 * var(--R))); }
.flat [data-qr="3,-2"] { transform: translate(calc(3.5 * var(--R)), calc(14.722431796215561 * var(--R))); }
.flat [data-qr="3,-1"] { transform: translate(calc(3.5 * var(--R)), calc(16.454482603784435 * var(--R))); }
.flat [data-qr="3,0"] { transform: translate(calc(3.5 * var(--R)), calc(18.186533411353313 * var(--R))); }
.flat [data-qr="3,1"] { transform: translate(calc(3.5 * var(--R)), calc(19.918584218922188 * var(--R))); }
.flat [data-qr="3,2"] { transform: translate(calc(3.5 * var(--R)), calc(21.650635026491067 * var(--R))); }
.flat [data-qr="3,3"] { transform: translate(calc(3.5 * var(--R)), calc(23.382685834059945 * var(--R))); }
.flat [data-qr="4,-10"] { transform: translate(calc(5 * var(--R)), calc(1.7320507394489812 * var(--R))); }
.flat [data-qr="4,-9"] { transform: translate(calc(5 * var(--R)), calc(3.4641015470178598 * var(--R))); }
.flat [data-qr="4,-8"] { transform: translate(calc(5 * var(--R)), calc(5.196152354586735 * var(--R))); }
.flat [data-qr="4,-7"] { transform: translate(calc(5 * var(--R)), calc(6.928203162155613 * var(--R))); }
.flat [data-qr="4,-6"] { transform: translate(calc(5 * var(--R)), calc(8.660253969724488 * var(--R))); }
.flat [data-qr="4,-5"] { transform: translate(calc(5 * var(--R)), calc(10.392304777293367 * var(--R))); }
.flat [data-qr="4,-4"] { transform: translate(calc(5 * var(--R)), calc(12.124355584862245 * var(--R))); }
.flat [data-qr="4,-3"] { transform: translate(calc(5 * var(--R)), calc(13.85640639243112 * var(--R))); }
.flat [data-qr="4,-2"] { transform: translate(calc(5 * var(--R)), calc(15.588457199999999 * var(--R))); }
.flat [data-qr="4,-1"] { transform: translate(calc(5 * var(--R)), calc(17.320508007568876 * var(--R))); }
.flat [data-qr="4,0"] { transform: translate(calc(5 * var(--R)), calc(19.05255881513775 * var(--R))); }
.flat [data-qr="4,1"] { transform: translate(calc(5 * var(--R)), calc(20.78460962270663 * var(--R))); }
.flat [data-qr="4,2"] { transform: translate(calc(5 * var(--R)), calc(22.516660430275504 * var(--R))); }
.flat [data-qr="5,-11"] { transform: translate(calc(6.5 * var(--R)), calc(0.8660253356645419 * var(--R))); }
.flat [data-qr="5,-10"] { transform: translate(calc(6.5 * var(--R)), calc(2.5980761432334205 * var(--R))); }
.flat [data-qr="5,-9"] { transform: translate(calc(6.5 * var(--R)), calc(4.330126950802297 * var(--R))); }
.flat [data-qr="5,-8"] { transform: translate(calc(6.5 * var(--R)), calc(6.062177758371174 * var(--R))); }
.flat [data-qr="5,-7"] { transform: translate(calc(6.5 * var(--R)), calc(7.794228565940051 * var(--R))); }
.flat [data-qr="5,-6"] { transform: translate(calc(6.5 * var(--R)), calc(9.526279373508928 * var(--R))); }
.flat [data-qr="5,-5"] { transform: translate(calc(6.5 * var(--R)), calc(11.258330181077806 * var(--R))); }
.flat [data-qr="5,-4"] { transform: translate(calc(6.5 * var(--R)), calc(12.990380988646683 * var(--R))); }
.flat [data-qr="5,-3"] { transform: translate(calc(6.5 * var(--R)), calc(14.72243179621556 * var(--R))); }
.flat [data-qr="5,-2"] { transform: translate(calc(6.5 * var(--R)), calc(16.454482603784435 * var(--R))); }
.flat [data-qr="5,-1"] { transform: translate(calc(6.5 * var(--R)), calc(18.186533411353313 * var(--R))); }
.flat [data-qr="5,0"] { transform: translate(calc(6.5 * var(--R)), calc(19.918584218922188 * var(--R))); }
.flat [data-qr="5,1"] { transform: translate(calc(6.5 * var(--R)), calc(21.650635026491067 * var(--R))); }
.flat [data-qr="6,-11"] { transform: translate(calc(8 * var(--R)), calc(1.7320507394489812 * var(--R))); }
.flat [data-qr="6,-10"] { transform: translate(calc(8 * var(--R)), calc(3.4641015470178598 * var(--R))); }
.flat [data-qr="6,-9"] { transform: translate(calc(8 * var(--R)), calc(5.1961523545867365 * var(--R))); }
.flat [data-qr="6,-8"] { transform: translate(calc(8 * var(--R)), calc(6.928203162155613 * var(--R))); }
.flat [data-qr="6,-7"] { transform: translate(calc(8 * var(--R)), calc(8.66025396972449 * var(--R))); }
.flat [data-qr="6,-6"] { transform: translate(calc(8 * var(--R)), calc(10.392304777293367 * var(--R))); }
.flat [data-qr="6,-5"] { transform: translate(calc(8 * var(--R)), calc(12.124355584862245 * var(--R))); }
.flat [data-qr="6,-4"] { transform: translate(calc(8 * var(--R)), calc(13.856406392431122 * var(--R))); }
.flat [data-qr="6,-3"] { transform: translate(calc(8 * var(--R)), calc(15.588457199999999 * var(--R))); }
.flat [data-qr="6,-2"] { transform: translate(calc(8 * var(--R)), calc(17.320508007568876 * var(--R))); }
.flat [data-qr="6,-1"] { transform: translate(calc(8 * var(--R)), calc(19.05255881513775 * var(--R))); }
.flat [data-qr="6,0"] { transform: translate(calc(8 * var(--R)), calc(20.78460962270663 * var(--R))); }
